@import '../../../core/mixins/src/Mixins';

// Themes
@import './orion-fusion-theme/CollapsibleMenuView.module';
@import './clinical-lowlight-theme/CollapsibleMenuView.module';

:local {
  .collapsible-menu-view {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }

  .menu-button {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    padding-left: var(--terra-collapsible-menu-view-menu-button-padding-left, 0.5rem);

    &.hidden {
      display: none;
      width: 0;
    }

    .menu-button-icon {
      background: var(--terra-collapsible-menu-view-menu-button-icon-background, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#1c1f21" d="M18.6 24c0-3 2.4-5.4 5.4-5.4s5.4 2.4 5.4 5.4-2.4 5.4-5.4 5.4c-3 0-5.4-2.4-5.4-5.4zm0-18.6C18.6 2.4 21 0 24 0c3 0 5.4 2.4 5.4 5.4 0 3-2.4 5.4-5.4 5.4-3 0-5.4-2.4-5.4-5.4zm0 37.2c0-3 2.4-5.4 5.4-5.4s5.4 2.4 5.4 5.4c0 3-2.4 5.4-5.4 5.4-3 0-5.4-2.4-5.4-5.4z"/></svg>'));
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      display: inline-block;
      position: relative;
      top: var(--terra-collapsible-menu-view-menu-button-icon-top, 0);
      vertical-align: var(--terra-collapsible-menu-view-menu-button-icon-vertical-align, -0.14285rem);
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // -ms needed for icon alignment in IE
        height: var(--terra-collapsible-menu-view-menu-button-icon-ms-height, 1rem);
        vertical-align: var(--terra-collapsible-menu-view-menu-button-icon-ms-vertical-align, -0.17285rem);
      }  
    }
  }

  .face-up-item {
    flex: 0 0 auto;
    padding-left: var(--terra-collapsible-menu-view-item-padding-left, 0.714rem);
    position: relative;

    .control {
      margin: 0;
      margin-left: var(--terra-collapsible-menu-view-control-margin-left, 0.10141rem);
    }

    .is-disabled {
      opacity: 0.3;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  .divider {
    border-right: var(--terra-collapsible-menu-view-divider-border-right, 1px solid #dedfe0);
    height: var(--terra-collapsible-menu-view-divider-height, 2.143rem);
  }

  .is-calculating {
    visibility: hidden;
  }

  .control { /* temporary overrides until standalone (no additional spacing included) version of checkbox is added */
    margin-bottom: 0;
    margin-top: 0;
  
    label:first-child {
      padding-bottom: 0;
    }
  }
}
