@import '../../../mixins/src/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-form-radio-field-margin-bottom: 1.428em;
    --terra-form-radio-field-inline-margin-right: 0.7143em;
    --terra-form-radio-field-label-font-size: 1rem;
    --terra-form-radio-field-label-margin-bottom: 0.357em;
    --terra-form-radio-field-label-color: #b2b5b6;
    --terra-form-radio-field-label-font-weight: bold;
    --terra-form-radio-field-label-error-icon-display: none;
    --terra-form-radio-field-error-icon-height: 1em;
    --terra-form-radio-field-label-error-icon-margin-right: 0.357em;
    --terra-form-radio-field-error-icon-width: 1em;
    --terra-form-radio-field-label-required-color: #fb4c4c;
    --terra-form-radio-field-label-required-padding-right: 0.357em;
    --terra-form-radio-field-label-optional-font-style: italic;
    --terra-form-radio-field-label-optional-padding-left: 0.357em;
    --terra-form-radio-field-help-text-color: #6f7477;
    --terra-form-radio-field-help-text-font-size: 0.857rem;
    --terra-form-radio-field-help-text-font-weight: normal;
    --terra-form-radio-field-help-text-margin-top: 0.357em;
    --terra-form-radio-field-error-text-color: #fb4c4c;
    --terra-form-radio-field-error-text-font-size: 0.857rem;
    --terra-form-radio-field-error-text-font-weight: normal;
    --terra-form-radio-field-error-text-margin-top: 0.357em;

    // Inline SVG
    @include terra-inline-svg-var('--terra-form-radio-field-error-background', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#fb4c4c" d="M24 0c13.3 0 24 10.7 24 24S37.3 48 24 48 0 37.3 0 24C0 10.8 10.7 0 23.9 0h.1z"/><path fill="#FFF" d="M7 21.5h34v5H7v-5z"/></svg>');
  }
}
