@import '../../../../core/mixins/src/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-collapsible-menu-view-divider-border-right: 1px solid #6f7477;
    --terra-collapsible-menu-view-menu-button-padding-left: 0.5rem;
    --terra-collapsible-menu-view-menu-button-icon-top: 0;
    --terra-collapsible-menu-view-menu-button-icon-vertical-align: -0.14285rem;
    --terra-collapsible-menu-view-menu-button-icon-ms-height: 1rem;
    --terra-collapsible-menu-view-menu-button-icon-ms-vertical-align: -0.17285rem;
    --terra-collapsible-menu-view-item-padding-left: 0.714rem;
    --terra-collapsible-menu-view-control-margin-left: 0.10141rem;
    --terra-collapsible-menu-view-divider-height: 2.143rem;

    @include terra-inline-svg-var('--terra-collapsible-menu-view-menu-button-icon-background', '<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#b2b5b6" d="M24 18.6a5.4 5.4 0 1 1-5.4 5.4 5.38 5.38 0 0 1 5.4-5.4zm18.6 0a5.4 5.4 0 1 1-5.4 5.4 5.38 5.38 0 0 1 5.4-5.4zm-37.2 0A5.4 5.4 0 1 1 0 24a5.38 5.38 0 0 1 5.4-5.4z"/></svg>');
  }
}
