@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes glowing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.loadingPlaceholder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  animation: fade-in 0.5s steps(30) 1;
  background-color: #f8f8f8;
  text-align: center;
  margin: 0;
  padding: 100px 0 0 0;
  color: #333333;
}

.loadingPlaceholder h1,
.loadingPlaceholder h2 {
  font-family: 'Helvetic Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0;
  font-size: 30px;
  line-height: 30px;
  position: relative;
  top: 0;
  animation: fade-in 0.5s steps(30) 1;
}

.loadingPlaceholder svg {
  animation: glowing 3.5s steps(30) infinite;
}
spinnaker > .spinnaker-container {
  animation: fade-in 0.5s steps(30) 1;
}
