@import './variables';

:local {
  .wrap {
    background-attachment: fixed;
    background-color: var(--terra-consumer-body-background-color, #c7d4ea);
    //background-image: var(--terra-consumer-body-background-image, url('http://d320j1w59ws5w0.cloudfront.net/terra-consumer-background-images.jpg'));
    background-size: cover;
    overflow-x: hidden;

    @supports (-webkit-overflow-scrolling: touch) {
      background-image: none;
    }
  }

  .layout {
    display: flex;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
  }

  .nav {
    height: 100vh; // added
    overflow-y :auto; // added
    min-height: 100vh;
    min-width: var(--terra-consumer-nav-width, 320px);
    position: relative;
    width: var(--terra-consumer-nav-width, 320px);
    z-index: 99;

    @media screen and (max-width: $terra-medium-breakpoint - 1) {
      background-color: var(--terra-consumer-body-background-color, #c7d4ea);
      box-shadow: 0 1px 3px rgba(28, 31, 33, 0.35);
      float: left;
      margin-left: calc(var(--terra-consumer-nav-width, 320px) * -1);
      transform: translate3d(0, 0, 0);
      transition: transform 0.35s ease;
      will-change: transform;
    }

    @media screen and (max-width: $terra-tiny-breakpoint - 1) {
      margin-left: -100%;
      min-width: 0;
      width: 100%;
    }

    &::before {
      background-color: var(--terra-consumer-nav-background-color, rgba(255, 255, 255, 0.25));
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  .open nav {
    @media screen and (max-width: $terra-medium-breakpoint - 1) {
      transform: translate3d(var(--terra-consumer-nav-width, 320px), 0, 0);
      transition-duration: 0.5s;
    }

    @media screen and (max-width: $terra-tiny-breakpoint - 1) {
      transform: translate3d(100%, 0, 0);
    }
  }

  .main-container {
    height: 100vh; // added
    overflow-y :auto; // added
    flex-grow: 1;
    max-width: 100%;
    text-align: left;
    white-space: break-word;

    .main-container-inner {
      padding: var(--terra-consumer-layout-padding, 10px);
    }
  }


  .open .main-container {
    @media screen and (max-width: $terra-medium-breakpoint - 1) {
      overflow: hidden;
      position: fixed;
      width: 100%;
    }
  }

  .main-content {
    @media screen and (max-width: $terra-medium-breakpoint - 1) {
      /* Set a min height for the content to keep the help button sticky to the
       * bottom of the screen when the content does not fill the viewport.
       * Help button with margin has height of 80 px. Height of help button and
       * some extra space subtracted from viewport height to stop scrolling in
       * empty layout.
       */
      min-height: calc(100vh - 120px);
    }
  }

  .nav-burgerbar {
    display: none;

    @media screen and (max-width: $terra-medium-breakpoint - 1) {
      display: flex;
      font-size: 20px;
      padding-bottom: 5px;
      position: relative;
      z-index: 1;
    }

    button {
      padding-left: 0;
      padding-top: 0;
      position: absolute;
    }
  }

  .mobile-logo {
    display: flex;
    height: 35px;
    justify-content: center;
    width: 100%;

    img {
      max-height: 35px;
      max-width: 150px;
    }
  }

  .help-button {
    margin: 15px;
    text-align: right;

    @media screen and (min-width: $terra-medium-breakpoint) {
      bottom: 15px;
      margin: 0;
      position: fixed;
      right: 15px;
    }
  }

  .skip-to-main-content {
    height: 1px;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;

    &:focus {
      height: auto;
      position: static;
      width: auto;
    }
  }

  .skip-container {
    text-align: center;
  }
}
