@import '../../../../core/mixins/src/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-date-input-field-error-text-color: #fb4c4c;
    --terra-date-input-field-help-text-color: #6f7477;
    --terra-date-input-field-legend-color: #b2b5b6;
    --terra-date-input-field-legend-required-color: #fb4c4c;
    --terra-date-input-field-margin-bottom: 1.428em;
    --terra-date-input-field-inline-margin-right: 0.7143em;
    --terra-date-input-field-legend-font-size: 1rem;
    --terra-date-input-field-legend-margin-bottom: 0.357em;
    --terra-date-input-field-legend-font-weight: bold;
    --terra-date-input-field-legend-error-icon-display: none;
    --terra-date-input-field-legend-error-icon-padding-right: 0;
    --terra-date-input-field-legend-required-padding-right: 0.357em;
    --terra-date-input-field-legend-optional-font-style: italic;
    --terra-date-input-field-legend-optional-padding-left: 0.357em;
    --terra-date-input-field-help-text-font-size: 0.857rem;
    --terra-date-input-field-help-text-font-weight: normal;
    --terra-date-input-field-help-text-margin-top: 0.357em;
    --terra-date-input-field-error-text-font-size: 0.857rem;
    --terra-date-input-field-error-text-font-weight: normal;
    --terra-date-input-field-error-text-margin-top: 0.357em;
  }
}

