:local {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding: 2rem 1rem;
  }

  .title {
    margin: 0 0 0.25rem;
    font-size: 1.5rem;
  }

  .subtitle {
    margin: 0 0 2rem;
  }

  .frame {
    position: relative;
    padding: 0 10px;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    cursor: pointer;

    .target {
      position: absolute;
      top: calc(50% - 15px);
      width: 30px;
      height: 30px;
      background: #000;
    }

    .target-base {
      opacity: 0.25;
    }
  }
}
