@import '../../../mixins/src/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-dropdown-button-dropdown-type-padding-bottom: 0.28571rem;
    --terra-dropdown-button-dropdown-type-padding-left: 0.71428rem;
    --terra-dropdown-button-dropdown-type-padding-right: 0.5rem;
    --terra-dropdown-button-dropdown-type-padding-top: 0.28571rem;
    --terra-dropdown-button-dropdown-type-compact-padding-bottom: 0;
    --terra-dropdown-button-dropdown-type-compact-padding-top: 0;
    --terra-dropdown-button-dropdown-type-text-margin-right: 0.35714rem;
    --terra-dropdown-button-dropdown-type-caret-height: 0.715em;
    --terra-dropdown-button-dropdown-type-caret-top: 0.04em;
    --terra-dropdown-button-dropdown-type-caret-width: 1em;

    // neutral
    --terra-dropdown-button-active-background-color-neutral: #0c0d0e;
    --terra-dropdown-button-active-border-color-neutral: #181b1d;
    --terra-dropdown-button-active-color-neutral: #9b9b9b;
    --terra-dropdown-button-dropdown-type-active-font-weight-neutral: 400;
    --terra-dropdown-button-background-color-neutral: #2d3539;
    --terra-dropdown-button-border-color-neutral: #181b1d;
    --terra-dropdown-button-color-neutral: #b2b5b6;
    --terra-dropdown-button-disabled-color-neutral: #b2b5b6;
    --terra-dropdown-button-dropdown-type-box-shadow-neutral: none;
    --terra-dropdown-button-dropdown-type-font-weight-neutral: 400;
    --terra-dropdown-button-focus-background-color-neutral: #2d3539;
    --terra-dropdown-button-focus-border-color-neutral: #181b1d;
    --terra-dropdown-button-dropdown-type-focus-box-shadow-neutral: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-dropdown-button-hover-background-color-neutral: #1a2023;
    --terra-dropdown-button-hover-color-neutral: #9b9b9b;

    // emphasis
    --terra-dropdown-button-active-background-color-emphasis: #001e2e;
    --terra-dropdown-button-active-border-color-emphasis: #003f61;
    --terra-dropdown-button-active-color-emphasis: #b2b5b6;
    --terra-dropdown-button-dropdown-type-active-font-weight-emphasis: 400;
    --terra-dropdown-button-background-color-emphasis: #004c76;
    --terra-dropdown-button-border-color-emphasis: #003f61;
    --terra-dropdown-button-color-emphasis: #b2b5b6;
    --terra-dropdown-button-dropdown-type-box-shadow-emphasis: none;
    --terra-dropdown-button-dropdown-type-font-weight-emphasis: 400;
    --terra-dropdown-button-disabled-color-emphasis: #b2b5b6;
    --terra-dropdown-button-focus-background-color-emphasis: #004c76;
    --terra-dropdown-button-focus-border-color-emphasis: #003f61;
    --terra-dropdown-button-dropdown-type-focus-box-shadow-emphasis: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-dropdown-button-hover-background-color-emphasis: #013a5a;
    --terra-dropdown-button-hover-color-emphasis: #b2b5b6;

    // ghost
    --terra-dropdown-button-active-background-color-ghost: #0c0d0e;
    --terra-dropdown-button-active-border-color-ghost: transparent;
    --terra-dropdown-button-active-color-ghost: #b2b5b6;
    --terra-dropdown-button-dropdown-type-active-font-weight-ghost: 400;
    --terra-dropdown-button-background-color-ghost: transparent;
    --terra-dropdown-button-border-color-ghost: #616668;
    --terra-dropdown-button-color-ghost: #b2b5b6;
    --terra-dropdown-button-dropdown-type-box-shadow-ghost: none;
    --terra-dropdown-button-dropdown-type-font-weight-ghost: 400;
    --terra-dropdown-button-disabled-color-ghost: #b2b5b6;
    --terra-dropdown-button-focus-background-color-ghost: transparent;
    --terra-dropdown-button-focus-border-color-ghost: #616668;
    --terra-dropdown-button-dropdown-type-focus-box-shadow-ghost: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-dropdown-button-hover-background-color-ghost: #1a2023;
    --terra-dropdown-button-hover-color-ghost: #9b9b9b;

    /* Icons */
    @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-neutral','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-neutral', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-neutral','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>'); 
    @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#b2b5b6" d="M48 12L24 36 0 12h48z"/></svg>');
  }
}
