@import '../../../core/mixins/src/Mixins';
@import '../../../core/breakpoints/src/media-queries';

// Themes
@import './clinical-lowlight-theme/NotificationDialog.module';
@import './orion-fusion-theme/NotificationDialog.module';

:local {
  .notification-dialog {
    background: var(--terra-notification-dialog-background, #fff);
    border-radius: var(--terra-notification-dialog-border-radius, 3px);
    // This will ensure that by default, the notification dialog sizes to the viewport (minus the insets).
    width: calc(100% - 2 * var(--terra-notification-dialog-small-horizontal-inset, 17px));

    // This will ensure that above the small breakpoint, a max-width is enforced
    @include terra-mq-small-up {
      max-width: var(--terra-notification-dialog-max-width, 500px);
    }
  }

  // This flex container is needed for IE 10 / IE 11 to render correctly
  .notification-dialog-inner-wrapper {
    display: flex;
    flex-direction: row;
    max-height: 93vh;
  }

  .notification-dialog-container {
    display: flex;
    flex-direction: column;
    max-height: inherit; // `inherit` value needed for IE10 to scroll modal-body when overflowed
    outline: none;
    width: 100%; // Needed for IE to wrap content correctly in flexbox
  }
  
  .floating-header-background {
    height: var(--terra-notification-dialog-floating-background-height, 5.78571rem);
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .hazard-high {
    background-image: var(--terra-notification-dialog-hazard-high-background-image, linear-gradient(to bottom, #ffdad9, #fff));
    border-top: var(--terra-notification-dialog-hazard-high-border-top, 7px solid #ea2f2f);
  }

  .hazard-medium {
    background-image: var(--terra-notification-dialog-hazard-medium-background-image, linear-gradient(to bottom, #fff3ce, #fff));
    border-top: var(--terra-notification-dialog-hazard-medium-border-top, 7px solid #ffc20a);
  }

  .hazard-low {
    background-image: var(--terra-notification-dialog-hazard-low-background-image, linear-gradient(to bottom, #e4e2e2, #fff));
    border-top: var(--terra-notification-dialog-hazard-low-border-top, 7px solid #c8cacb);
  }

  .error {
    background-image: var(--terra-notification-dialog-error-background-image, linear-gradient(to bottom, #e4e2e2, #fff));
    border-top: var(--terra-notification-dialog-error-border-top, 7px solid #c8cacb);
  }

  .custom {
    background-image: var(--terra-notification-dialog-custom-background-image, linear-gradient(to bottom, #e4e2e2, #fff));
    border-top: var(--terra-notification-dialog-custom-border-top, 7px solid #c8cacb);
  }

  .header {
    box-shadow: var(--terra-notification-dialog-header-box-shadow, -16px 8px 5px 0 rgba(255, 255, 255, 0.5), -16px 2px 2px 0 rgba(255, 255, 255, 0.75));
    flex: 0 0 auto;
    padding: var(--terra-notification-dialog-header-padding, 0 1.42857rem); // left and right padding
    z-index: 1;
  }
  
  .header-content {
    border-bottom: var(--terra-notification-dialog-header-content-border-bottom, 1px solid #dedfe0);
    display: flex;
    flex-direction: row;
    padding: var(--terra-notification-dialog-header-content-padding, 1.21428rem 0 0.5rem); // top and bottom padding to squish border bottom
    text-align: left;
    width: 100%;
  }

  .header-container {
    flex-shrink: 1;
    margin-left: var(--terra-notification-dialog-header-container-margin-left, 0.5rem);
  }

  .signal-word {
    color: var(--terra-notification-dialog-signal-word-color, #1c1f21);
    font-size: var(--terra-notification-dialog-signal-word-font-size, 1.42857rem);
    font-weight: bold;
    letter-spacing: -0.018rem;
    line-height: 1.15;
    min-height: var(--terra-notification-dialog-signal-word-min-height, 1.64285rem);
  }

  .title {
    color: var(--terra-notification-dialog-title-color, #262626);
    font-size: var(--terra-notification-dialog-title-font-size, 1.2857rem);
    font-weight: var(--terra-notification-dialog-title-font-weight, normal);
    letter-spacing: -0.018rem;
    line-height: 1.16667;
    margin: var(--terra-notification-dialog-title-margin, 0);
    min-height: var(--terra-notification-dialog-title-min-height, 1.5rem);
    width: 100%;
    word-wrap: break-word;
  }

  .body {
    background-color: var(--terra-notification-dialog-body-background-color, transparent);
    flex: 1 1 auto;
    height: 100%;
    min-height: 0;
    overflow: auto;
    padding: var(--terra-notification-dialog-body-padding, 0 1.64285rem);
    width: 100%;

    @media screen and (min-height: 15.5rem) {
      min-height: var(--terra-notification-dialog-body-media-small-min-height, 4.5rem);
      padding: var(--terra-notification-dialog-body-media-small-padding, 0.85714rem 1.64285rem 1.07142rem);
    }

    @media screen and (min-height: 31rem) {
      min-height: var(--terra-notification-dialog-body-media-large-min-height, 7rem);
    }
  }

  .message {
    color: var(--terra-notification-dialog-message-color, #383f42);
    font-size: var(--terra-notification-dialog-message-font-size, 1rem);
    letter-spacing: 0.007rem;
    line-height: 1.42857;
    padding: var(--terra-notification-dialog-message-padding, 0.35714rem 0);
    text-align: var(--terra-notification-dialog-message-text-align, left);
    width: 100%;
    word-wrap: break-word;
  }

  .footer {
    background-color: var(--terra-notification-dialog-footer-background-color, #f9f9f9);
    border-top: var(--terra-notification-dialog-footer-border-top, 1px solid #dedfe0);
    box-shadow: var(--terra-notification-dialog-footer-box-shadow, -16px -9px 5px 0 rgba(255, 255, 255, 0.5), -16px -3px 3px 0 rgba(255, 255, 255, 0.75));
    flex: 0 0 auto;
    min-height: var(--terra-notification-dialog-footer-min-height, 0.71428rem);
    z-index: 1;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--terra-notification-dialog-actions-padding, 0.64285rem 0.71428rem);

    // stylelint-disable-next-line selector-max-compound-selectors
    > button + button {
      margin-left: var(--terra-notification-dialog-actions-button-margin-left, 0.71428rem);
    }
  }
}
