@import '../../variables';

:local {
  .profile {
    background: var(--terra-consumer-profile-link-border-background, #c7d4ea url('../../../../../../../../../public/background-images.jpg'));
    background-attachment: fixed;
    background-size: cover;
    margin-top: 5px;

    @media (max-width: $terra-medium-breakpoint - 1) {
      background-image: none;
    }

    @media screen and (max-width: $terra-tiny-breakpoint - 1) {
      width: 100vw;
    }
  }

  .link {
    background: #fff;
    border: 0;
    border-radius: 0;
    color: #383f42;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    width: 100%;

    &:hover,
    &:focus {
      background: var(--terra-consumer-profile-link-hover-color, #cfd0d1);
    }
  }

  .signout-border {
    @media screen and (min-width: $terra-medium-breakpoint) {
      border-top: 1px solid #dedfe0;
    }
  }

  .profile-item-border {
    @media screen and (max-width: $terra-medium-breakpoint - 1) {
      border-bottom: 1px solid #dedfe0;
    }
  }

  .toggler-wrapper {
    border-bottom: 1px solid #dedfe0;

    @media screen and (min-width: $terra-medium-breakpoint) {
      border-bottom: 0;
      border-top: 1px solid #dedfe0;
    }

    &:active {
      color: inherit;
    }
  }

  .toggler {
    padding: 0;

    .link {
      padding: 15px 30px;

      &:not(:last-child) {
        border-bottom: 0;
      }
    }
  }

  /* stylelint-disable selector-max-compound-selectors */
  .open {
    .toggler-wrapper,
    .toggler .link {
      background: #f3f3f3;

      &:hover {
        background: #cfd0d1;
      }
    }
  }

  .popup-button {
    background: var(--terra-consumer-profile-link-background, rgba(255, 255, 255, 0.25));
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    border-top: var(--terra-consumer-profile-link-border-top, 3px solid transparent);
    color: var(--terra-consumer-profile-link-color, #3d3d3d);
    cursor: pointer;
    display: block;
    font-size: var(--terra-consumer-profile-link-font-size, 14px);
    padding: 20px 25px;
    text-align: left;
    width: 100%;

    &:hover,
    &:focus {
      background: var(--terra-consumer-profile-hover-background, rgba(255, 255, 255, 0.4));
      color: var(--terra-consumer-profile-link-color, #3d3d3d);
    }
  }

  .avatar {
    padding-right: 10px;

    svg path,
    svg circle {
      stroke: var(--terra-consumer-profile-link-color, #3d3d3d);
      stroke-width: 4px;
    }
  }

  .link-text-style {
    padding: 0;
    text-align: left;
    text-decoration: none;
  }
}
