// Grid Component Mixins
// ========================================================
@use 'sass:math';

@mixin terra-grid-column-size($columns) {
  flex-basis: percentage(math.div($columns, 12));
  max-width: percentage(math.div($columns, 12));
}
