@import '../../../mixins/src/Mixins';

:local {
  .orion-fusion-theme {
    --terra-form-radio-field-margin-bottom: 0.5rem;
    --terra-form-radio-field-inline-margin-right: 0;
    --terra-form-radio-field-label-font-size: 1rem;
    --terra-form-radio-field-label-margin-bottom: 0.5rem;
    --terra-form-radio-field-label-color: #1c1f21;
    --terra-form-radio-field-label-font-weight: bold;
    --terra-form-radio-field-label-error-icon-display: none;
    --terra-form-radio-field-error-icon-height: 0;
    --terra-form-radio-field-label-error-icon-margin-right: 0;
    --terra-form-radio-field-error-icon-width: 0;
    --terra-form-radio-field-label-required-color: #e80000;
    --terra-form-radio-field-label-required-padding-right: 0.25rem;
    --terra-form-radio-field-label-optional-font-style: italic;
    --terra-form-radio-field-label-optional-padding-left: 0.25rem;
    --terra-form-radio-field-help-text-color: #64696c;
    --terra-form-radio-field-help-text-font-size: 0.85rem;
    --terra-form-radio-field-help-text-font-weight: normal;
    --terra-form-radio-field-help-text-margin-top: 0.25rem;
    --terra-form-radio-field-error-text-color: #e50000;
    --terra-form-radio-field-error-text-font-size: 0.85rem;
    --terra-form-radio-field-error-text-font-weight: normal;
    --terra-form-radio-field-error-text-margin-top: 0.25rem;

    // Inline SVG
    @include terra-inline-svg-var('--terra-form-radio-field-error-background', '<svg xmlns="http://www.w3.org/2000/svg"></svg>');
  }
}
