@import '../../../mixins/src/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-form-checkbox-font-color: #b2b5b6;
    --terra-form-checkbox-container-margin-bottom: 0;
    --terra-form-checkbox-container-margin-left: 0;
    --terra-form-checkbox-container-margin-right: 0;
    --terra-form-checkbox-container-margin-top: 0.3571428rem;
    --terra-form-checkbox-inline-container-margin-right: 1.42857rem;
    --terra-form-checkbox-font-size: 1rem;
    --terra-form-checkbox-line-height: 1.33;
    --terra-form-checkbox-padding-bottom: 0.3571428rem;
    --terra-form-checkbox-padding-left: 0;
    --terra-form-checkbox-native-input-clip: rect(0 0 0 0);
    --terra-form-checkbox-native-input-cursor: default;
    --terra-form-checkbox-native-input-font-size: 0;
    --terra-form-checkbox-native-input-height: 1px;
    --terra-form-checkbox-native-input-margin-left: -1px;
    --terra-form-checkbox-native-input-margin-right: -1px;
    --terra-form-checkbox-native-input-overflow: hidden;
    --terra-form-checkbox-native-input-padding: 0;
    --terra-form-checkbox-native-input-width: 1px;
    --terra-form-checkbox-label-text-margin-left: 1.3571rem;
    --terra-form-checkbox-before-background-color: #111;
    --terra-form-checkbox-before-background-image: linear-gradient(to bottom right, #111, #35383b);
    --terra-form-checkbox-before-border: 1px solid #8d8f91;
    --terra-form-checkbox-before-border-radius: 2px;
    --terra-form-checkbox-before-height: 1rem;
    --terra-form-checkbox-before-margin-top: 0.142857rem;
    --terra-form-checkbox-before-transition: none;
    --terra-form-checkbox-before-width: 1rem;
    --terra-form-checkbox-checked-before-background-color: #005887;
    --terra-form-checkbox-checked-before-background-image: none;
    --terra-form-checkbox-checked-before-border: 1px solid #005887;
    --terra-form-checkbox-checked-before-border-radius: 2px;
    --terra-form-checkbox-checked-before-height: 1rem;
    --terra-form-checkbox-checked-before-line-height: 1rem;
    --terra-form-checkbox-checked-before-margin-top: 0.142857rem;
    --terra-form-checkbox-checked-before-padding-left: 0;
    --terra-form-checkbox-checked-before-padding-right: 0;
    --terra-form-checkbox-checked-before-padding-top: 0;
    --terra-form-checkbox-checked-before-transform: none;
    --terra-form-checkbox-checked-before-transition: none;
    --terra-form-checkbox-checked-before-width: 1rem;
    --terra-form-checkbox-is-mobile-before-height: 1rem;
    --terra-form-checkbox-is-mobile-before-margin-top: 0.142857rem;
    --terra-form-checkbox-is-mobile-before-padding-left: 0;
    --terra-form-checkbox-is-mobile-before-width: 1rem;
    --terra-form-checkbox-is-mobile-checked-before-height: 1rem;
    --terra-form-checkbox-is-mobile-checked-before-line-height: 1rem;
    --terra-form-checkbox-is-mobile-checked-before-margin-top: 0.142857rem;
    --terra-form-checkbox-is-mobile-checked-before-width: 1rem;
    --terra-form-checkbox-is-mobile-padding-left: 0;
    --terra-form-checkbox-hover-before-border-color: #585a5c;
    --terra-form-checkbox-hover-before-border-width: 1px;
    --terra-form-checkbox-hover-checked-before-border-color: #005887;
    --terra-form-checkbox-hover-checked-before-border-width: 1px;
    --terra-form-checkbox-disabled-font-color: rgba(212, 222, 225, 0.3);
    --terra-form-checkbox-disabled-font-opacity: 1;
    --terra-form-checkbox-disabled-before-background-color: rgba(34, 42, 46, 0.5);
    --terra-form-checkbox-disabled-before-background-image: none;
    --terra-form-checkbox-disabled-before-border-color: rgba(178, 181, 182, 0.2);
    --terra-form-checkbox-disabled-before-border-width: 1px;
    --terra-form-checkbox-checked-disabled-before-border-width: 1px;
    --terra-form-checkbox-focus-before-border-color: #004c76;
    --terra-form-checkbox-focus-before-border-width: 1px;
    --terra-form-checkbox-focus-after-ring-background-color: rgba(0, 76, 118, 0.35);
    --terra-form-checkbox-focus-after-ring-border-radius: 4px;
    --terra-form-checkbox-focus-after-ring-height: 1.42857rem;
    --terra-form-checkbox-focus-after-ring-left: -0.21428rem;
    --terra-form-checkbox-focus-after-ring-top: -0.071428rem;
    --terra-form-checkbox-focus-after-ring-width: 1.42857rem;

    @include terra-inline-svg-var('--terra-form-checkbox-checked-disabled-before-content', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="rgba(178,181,182,0.2)" d="M18.4,40.4L0,22l4.2-4.2L18.4,32L43.8,6.6l4.2,4.2L18.4,40.4z"/></svg>');
    @include terra-inline-svg-var('--terra-form-checkbox-checked-before-content', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#002b42" d="M12.2,44.5L0,32.3v-4.9V22l18.4,18.4L48,10.8l0,5.4l0,4.9l-24,24C20.9,48,16,48.6,12.2,44.5z"/><path fill="#b2b5b6" d="M18.4,40.4L0,22l4.2-4.2L18.4,32L43.8,6.6l4.2,4.2L18.4,40.4z"/></svg>');
  }
}
