@import '../../mixins/src/Mixins';

// Themes
@import './clinical-lowlight-theme/Dialog.module';
@import './orion-fusion-theme/Dialog.module';

:local {
  .dialog {
    height: 100%;
    width: 100%;
  }

  .dialog-header {
    align-items: center;
    background-color: var(--terra-dialog-header-background-color, #f9f9f9);
    border-bottom: var(--terra-dialog-header-border-bottom, 1px solid #dedfe0);
    color: var(--terra-dialog-header-foreground-color, #1c1f21);
    display: flex;
    font-size: var(--terra-dialog-header-font-size);
    height: var(--terra-dialog-header-height, 3.587rem);
    justify-content: space-between;
    padding: var(--terra-dialog-header-padding, 0.7143rem);
  }

  .dialog-header-title {
    overflow: hidden;
    white-space: nowrap;
  }

  .dialog-header-close {
    float: right;
    text-align: right;
  }

  .close-icon {
    background: var(--terra-dialog-header-close-background, inline-svg("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path fill='rgba(17, 17, 17, 1)' d='M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z'/></svg>"));
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
    height: var(--terra-dialog-header-close-icon-height, 1rem);
    margin-top: var(--terra-dialog-header-close-icon-margin-top, 0);
    vertical-align: var(--terra-dialog-header-close-icon-vertical-align, -0.15rem);
    width: var(--terra-dialog-header-close-icon-width, 1rem);
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      vertical-align: var(--terra-dialog-header-close-icon-vertical-align, -0.15rem);
    }
  }

  .dialog-body {
    background-color: var(--terra-dialog-body-background-color, transparent);
    color: var(--terra-dialog-body-foreground-color, #1c1f21);
    height: auto;
    min-height: 100%;
    padding: var(--terra-dialog-body-padding, 0.7143rem);
  }

  .dialog-footer {
    background-color: var(--terra-dialog-footer-background-color, #f9f9f9);
    border-top: var(--terra-dialog-footer-border-top, 1px solid #dedfe0);
    color: var(--terra-dialog-footer-foreground-color, #1c1f21);
    padding: var(--terra-dialog-footer-padding, 0.7143rem);
  }
}
