@import '../../../../../mixins/src/Mixins';
@import './cerner-mock-theme';
// Styles specific to development only
// stylelint-disable
:local {
  .app {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .site-nav {
    line-height: 1;
    padding: 0.75rem 1.25rem;

    li {
      list-style: none;
    }

    & > li {
      font-size: 1.25rem;
      padding: 0.5rem 0;

      & > a {
        text-decoration: none;
      }
    }
  }

  .site-nav-header {
    background-color: #dce0e2;
    border-bottom: 1px solid #bcbfc0;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.75rem 1.25rem;

    & > a {
      text-decoration: none;
    }
  }

  .site-component-nav {
    padding-left: 1.25rem;

    & > li {
      font-size: 1.25rem;
      padding: 0.5rem 0;

      & > a {
        text-decoration: none;
      }
    }
  }

  .site-panel {
    background-color: #f1f1f2;
    border-right: 1px solid #047cc0;
  }

  .site-content {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .site-header {
    background-color: #80c7ee;
    border-bottom: 3px solid #047cc0;
    padding: 0.5rem 1.25rem;
    width: 100%;
  }

  .site-collapsible > div:first-child {
    flex: 3 0 auto;
  }

  .site-input-display {
    display: inline-block;
  }

  .demo-modal-content{
    padding: 15px;
  }
}

#site-body {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#root {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}
/* stylelint-enable */
