@import '../../../../core/mixins/src/Mixins';

:local {
  .orion-fusion-theme {
    --terra-date-input-field-margin-bottom: 0.5rem;
    --terra-date-input-field-inline-margin-right: 0.5rem;
    --terra-date-input-field-legend-font-size: 1rem;
    --terra-date-input-field-legend-margin-bottom: 0.5em;
    --terra-date-input-field-legend-color: #1c1f21;
    --terra-date-input-field-legend-font-weight: bold;
    --terra-date-input-field-legend-error-icon-display: none;
    --terra-date-input-field-legend-error-icon-padding-right: 0.25em;
    --terra-date-input-field-legend-required-color: #e50000;
    --terra-date-input-field-legend-required-padding-right: 0.25em;
    --terra-date-input-field-legend-optional-font-style: italic;
    --terra-date-input-field-legend-optional-padding-left: 0.25em;
    --terra-date-input-field-help-text-color: rgba(28, 31, 33, 0.65);
    --terra-date-input-field-help-text-font-size: 0.85rem;
    --terra-date-input-field-help-text-font-weight: normal;
    --terra-date-input-field-help-text-margin-top: 0.25em;
    --terra-date-input-field-error-text-color: #e50000;
    --terra-date-input-field-error-text-font-size: 0.85rem;
    --terra-date-input-field-error-text-font-weight: normal;
    --terra-date-input-field-error-text-margin-top: 0.25em;
  }
}
