@import '../../../../core/mixins/src/Mixins';

:local {
  .orion-fusion-theme {
    // Month Select
    --terra-date-input-month-background-color: #fff;
    --terra-date-input-month-background-image: none;
    --terra-date-input-month-background-position: 0 0;
    --terra-date-input-month-background-repeat: no-repeat;
    --terra-date-input-month-background-size: auto;
    --terra-date-input-month-border-radius: 3px;
    --terra-date-input-month-after-arrow-icon-height: 0.715rem;
    --terra-date-input-month-after-arrow-icon-width: 1rem;
    --terra-date-input-month-transition-duration: 0s;
    --terra-date-input-month-transition-timing-function: ease;
    --terra-date-input-month-select-border: 1px solid #dedfe0;
    --terra-date-input-month-select-color: inherit;
    --terra-date-input-month-select-font-size: 1rem;
    --terra-date-input-month-select-height: 2.1666rem;
    --terra-date-input-month-select-max-width: 24rem;
    --terra-date-input-month-select-padding-bottom: 0;
    --terra-date-input-month-select-padding-left: 0.3571rem;
    --terra-date-input-month-select-padding-right: 1.42857rem;
    --terra-date-input-month-select-padding-top: 0;

    // Month Select Placeholder Text
    --terra-date-input-month-select-placeholder-color: #767676;
    --terra-date-input-month-select-placeholder-font-style: normal;

    // Month Select Hover
    --terra-date-input-month-hover-background-color: #fff;
    --terra-date-input-month-select-hover-border: 1px solid #dedfe0;
    --terra-date-input-month-select-hover-color: inherit;

    // Month Select Focus
    --terra-date-input-month-focus-background-color: #fff;
    --terra-date-input-month-focus-background-size: auto;
    --terra-date-input-month-select-focus-color: inherit;
    --terra-date-input-month-select-focus-border: 1px solid #4cb2e9;
    --terra-date-input-month-focus-ltr-box-shadow: 0 0 8px #a6d9f4;
    --terra-date-input-month-focus-rtl-box-shadow: 0 0 8px #a6d9f4;

    // Month Select Disabled
    --terra-date-input-month-disabled-background-color: #f4f4f4;
    --terra-date-input-month-disabled-opacity: 1;
    --terra-date-input-month-select-disabled-border: 1px solid #b2b5b6;
    --terra-date-input-month-select-disabled-color: #9b9fa1;
    --terra-date-input-month-select-disabled-placeholder-color: #c4c6c7;

    // Month Select Disabled - Hover
    --terra-date-input-month-select-disabled-hover-color: #9b9fa1;

    // Month Select Error
    --terra-date-input-month-error-background-color: #fff;
    --terra-date-input-month-error-background-image: none;
    --terra-date-input-month-select-error-border: 1px solid #dedfe0;
    --terra-date-input-month-select-error-box-shadow: none;

    // Month Select Error - Hover
    --terra-date-input-month-error-hover-background-color: #fff;
    --terra-date-input-month-select-error-hover-border: 1px solid #dedfe0;

    // Month Select Error - Focus
    --terra-date-input-month-error-focus-background-color: #fff;
    --terra-date-input-month-error-focus-background-size: auto;
    --terra-date-input-month-select-error-focus-border: 1px solid #dedfe0;

    // Month Select Error - Disabled
    --terra-date-input-month-error-disabled-background-color: #f4f4f4;
    --terra-date-input-month-error-disabled-opacity: 1;
    --terra-date-input-month-select-error-disabled-border: 1px solid #b2b5b6;
    --terra-date-input-month-select-error-disabled-color: #9b9fa1;
    --terra-date-input-month-select-error-disabled-placeholder-color: #c4c6c7;

    // Month Select Incomplete
    --terra-date-input-month-incomplete-background-color: #fefd9a;
    --terra-date-input-month-incomplete-hover-background-color: #fefd9a;
    --terra-date-input-month-incomplete-focus-background-color: #fefd9a;
    --terra-date-input-month-incomplete-disabled-background-color: #f4f4f4;
    
    // Day Input
    --terra-date-input-date-input-day-max-width: 2.5rem;

    // Year Input
    --terra-date-input-date-input-year-max-width: 3.8rem;

    // Gutters
    --terra-date-input-gutters-margin-right: 0.25em;

    // format text
    --terra-date-input-format-text-color: rgba(28, 31, 33, 0.65);
    --terra-date-input-format-text-font-size: 0.855rem;
    --terra-date-input-format-text-font-weight: normal;
    --terra-date-input-format-text-margin-top: 0.25em;
  
    // Icons
    @include terra-inline-svg-var('--terra-date-input-month-after-arrow-icon-background-image', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-date-input-month-after-disabled-arrow-icon-background-image', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#bfbfbf" d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-date-input-month-after-error-arrow-icon-background-image', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
    @include terra-inline-svg-var('--terra-date-input-month-after-error-disabled-arrow-icon-background-image', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="#bfbfbf" d="M48 12L24 36 0 12h48z"/></svg>');
  }
}
