@import '../../../mixins/src/Mixins';;

:local {
  .clinical-lowlight-theme {
    --terra-paginator-nav-link-background-color: none;
    --terra-paginator-nav-link-border: none;
    --terra-paginator-nav-link-border-radius: 3px;
    --terra-paginator-nav-link-color: #007ee0;
    --terra-paginator-nav-link-line-height: 1.429;
    --terra-paginator-nav-link-margin-left: 0.14285rem;
    --terra-paginator-nav-link-margin-right: 0.14285rem;
    --terra-paginator-nav-link-previous-padding-left: 0.5rem;
    --terra-paginator-nav-link-next-padding-right: 0.5rem;
    --terra-paginator-nav-link-previous-icon-only-margin-left: 0.14285rem;
    --terra-paginator-nav-link-previous-icon-only-margin-right: 0.14285rem;
    --terra-paginator-nav-link-next-icon-only-margin-left: 0.14285rem;
    --terra-paginator-nav-link-next-icon-only-margin-right: 0.14285rem;
    --terra-paginator-nav-link-padding: 0.35714rem 0.5rem;
    --terra-paginator-nav-link-min-width: 2rem;
    --terra-paginator-nav-link-box-shadow: none;
    --terra-paginator-nav-link-font-size: 1rem;
    --terra-paginator-nav-link-text-decoration: none;

    --terra-paginator-nav-link-hover-background-color: none;
    --terra-paginator-nav-link-hover-color: #003f61;
    --terra-paginator-nav-link-hover-text-decoration: underline;
    --terra-paginator-nav-link-hover-border: none;
    --terra-paginator-nav-link-hover-box-shadow: none;

    --terra-paginator-nav-link-focus-background-color: none;
    --terra-paginator-nav-link-focus-border: none;
    --terra-paginator-nav-link-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-paginator-nav-link-focus-color: #007ee0;
  
    --terra-paginator-nav-link-active-background-color: #161e22;
    --terra-paginator-nav-link-active-color: #b2b5b6;
    --terra-paginator-nav-link-active-text-decoration: none;
    --terra-paginator-nav-link-active-border: none;
    --terra-paginator-nav-link-active-box-shadow: none;

    --terra-paginator-nav-link-selected-color: inherit;

    --terra-paginator-nav-link-disabled-color: #6f7477;
    --terra-paginator-nav-link-disabled-focus-box-shadow: none;
    --terra-paginator-nav-link-disabled-background-color: none;
    --terra-paginator-nav-link-disabled-border: none;
    --terra-paginator-nav-link-disabled-box-shadow: none;
    --terra-paginator-nav-link-disabled-opacity: 30%;

    --terra-paginator-nav-link-left-controls-margin-left: 0.14286rem;
    --terra-paginator-nav-link-left-controls-margin-right: 0.57143rem;
    --terra-paginator-nav-link-right-controls-margin-left: 0.57143rem;
    --terra-paginator-nav-link-right-controls-margin-right: 0.14286rem;
    --terra-paginator-nav-link-icon-height: 1rem;
    --terra-paginator-nav-link-icon-offset-top: 0.1785rem;
    --terra-paginator-nav-link-icon-width: 1rem;

    --terra-paginator-progressive-nav-link-previous-margin-left: 0.14285rem;
    --terra-paginator-progressive-nav-link-previous-margin-right: 0.14285rem;
    --terra-paginator-progressive-nav-link-next-margin-left: 0.14285rem;
    --terra-paginator-progressive-nav-link-next-margin-right: 0.14285rem;

    --terra-paginator-nav-link-icon-previous-margin-right: 0.25rem;
    --terra-paginator-nav-link-icon-next-margin-left: 0.25rem;

    @include terra-inline-svg-var('--terra-paginator-nav-link-icon-previous-background-image', '<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#007ee0" d="M10.3 24L33.8 0l3.9 3.8L18 24l19.7 20.2-3.9 3.8z"></path></svg>');
    @include terra-inline-svg-var('--terra-paginator-nav-link-icon-previous-disabled-background-image', '<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#6f7477" d="M10.3 24L33.8 0l3.9 3.8L18 24l19.7 20.2-3.9 3.8z"></path></svg>');
    @include terra-inline-svg-var('--terra-paginator-nav-link-icon-next-background-image', '<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#007ee0" d="M37.7 24L14.2 48l-3.9-3.8L30 24 10.3 3.8 14.2 0z"></path></svg>');
    @include terra-inline-svg-var('--terra-paginator-nav-link-icon-next-disabled-background-image', '<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#6f7477" d="M37.7 24L14.2 48l-3.9-3.8L30 24 10.3 3.8 14.2 0z"></path></svg>');
  }
}
