@import '../../../mixins/src/Mixins';

:local {
  .orion-fusion-theme {
    // switch label variables
    --terra-switch-label-margin-right: 1.25rem;
    --terra-switch-label-color: #1c1f21;
    --terra-switch-label-font-size: 1rem;
    --terra-switch-label-font-weight: normal;
    --terra-switch-label-padding-bottom: 0.25rem;

    // switch status label variables
    --terra-switch-status-label-color: #64696c;
    --terra-switch-status-label-font-size: 1rem;
    --terra-switch-status-label-font-weight: normal;

    // switch tray variables
    --terra-switch-tray-border: 1px solid #909496;
    --terra-switch-tray-border-radius: 1.6666rem;
    --terra-switch-tray-height: 1.75rem;
    --terra-switch-tray-margin: 0.5rem;
    --terra-switch-tray-width: 2.75rem;
    --terra-switch-tray-transition: 0.2s, cubic-bezier(0.175, 0.885, 0.32, 1.275);

    --terra-switch-tray-default-background-color: #dedfe0;
    --terra-switch-tray-default-hover-background-color: #b9bbbc;
    --terra-switch-tray-default-hover-border: 1px solid #909496;
    --terra-switch-tray-default-hover-box-shadow: none;
    --terra-switch-tray-default-disabled-background-color: #d3d4d5;
    --terra-switch-tray-default-disabled-border: 1px solid #434a4d;
    --terra-switch-tray-default-disabled-box-shadow: none;
    --terra-switch-tray-default-disabled-opacity: 0.3;
    
    --terra-switch-tray-selected-background-color: #0079be;
    --terra-switch-tray-selected-border: 1px solid #01639e;
    --terra-switch-tray-selected-box-shadow: none;
    --terra-switch-tray-selected-hover-background-color: #0065a3;
    --terra-switch-tray-selected-hover-border: 1px solid #01639e;
    --terra-switch-tray-selected-hover-box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.4);
    --terra-switch-tray-selected-disabled-background-color: #434a4d;
    --terra-switch-tray-selected-disabled-border: 1px solid #434a4d;
    --terra-switch-tray-selected-disabled-box-shadow: none;
    --terra-switch-tray-selected-disabled-opacity: 0.4;
    --terra-switch-tray-selected-active-background-color: #0065a3;
    --terra-switch-tray-selected-active-border: 1px solid #004164;
    --terra-switch-tray-selected-active-box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.4);

    // switch slider variables
    --terra-switch-slider-default-background-color: #fff;
    --terra-switch-slider-border: none;
    --terra-switch-slider-border-radius: 1.25rem;
    --terra-switch-slider-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3), 1px 0 0 0 #909496;
    --terra-switch-slider-height: 1.416666rem;
    --terra-switch-slider-width: 1.416666rem;
    --terra-switch-slider-left: 0.05rem;
    --terra-switch-slider-top: 0.1rem;
    --terra-switch-slider-transition: 0.2s, cubic-bezier(0.75, 0.585, 0.32, 1.275);
    --terra-switch-slider-disabled-background-color: #fff;
    --terra-switch-slider-disabled-box-shadow: none;
    --terra-switch-slider-disabled-opacity: 1;

    --terra-switch-slider-selected-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3), -1px 0 0 0 #01639e;
    --terra-switch-slider-selected-background-color: #fff;
    --terra-switch-slider-selected-focus-background-color: #fff;
    --terra-switch-slider-selected-focus-border: none;
    --terra-switch-slider-selected-transform: translateX(1rem);
    --terra-switch-slider-selected-disabled-background-color: #fff;
    --terra-switch-slider-selected-disabled-box-shadow: 0 0 0 1.5px #64696c;
    --terra-switch-slider-selected-disabled-opacity: 1;

    --terra-switch-slider-focus-background-color: #fff;
    --terra-switch-slider-focus-border: none;
    --terra-switch-slider-focus-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3), 1px 0 0 0 #909496;
    --terra-switch-slider-focus-outline: 2px dashed #000;
    --terra-switch-slider-focus-outline-offset: 2px;

    --terra-switch-slider-hover-background-color: #fff;
    --terra-switch-slider-hover-border: none;
    --terra-switch-slider-hover-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2), 1px 0 0 0 #909496, -2px 0 2px 0 rgba(0, 0, 0, 0.2), 2px 0 2px 0 rgba(0, 0, 0, 0.2);

    --terra-switch-slider-selected-hover-background-color: #fff;
    --terra-switch-slider-selected-hover-border: none;
    --terra-switch-slider-selected-hover-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2), -1px 0 0 0 #01639e, -2px 0 2px 0 rgba(0, 0, 0, 0.2), 2px 0 2px 0 rgba(0, 0, 0, 0.2);

    --terra-switch-slider-active-background-color: #fff;
    --terra-switch-slider-active-border: none;
    --terra-switch-slider-active-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2), 1px 0 0 0 #909496, -2px 0 2px 0 rgba(0, 0, 0, 0.2), 2px 0 2px 0 rgba(0, 0, 0, 0.2), inset 5px 2px 4px 2px #e6e7e8, inset 0 0 0 1.5px #fff;

    --terra-switch-slider-selected-active-background-color: #fff;
    --terra-switch-slider-selected-active-border: none;
    --terra-switch-slider-selected-active-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2), -1px 0 0 0 #01639e, -2px 0 2px 0 rgba(0, 0, 0, 0.2), 2px 0 2px 0 rgba(0, 0, 0, 0.2), inset 5px 2px 4px 2px #e6e7e8, inset 0 0 0 1.5px #fff;
  }
}
