@import '../../../mixins/src/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-section-header-padding-end: 0.7142857143rem;
    --terra-section-header-padding-start: 0.7142857143rem;
    --terra-section-header-background: #141719;
    --terra-section-header-border-bottom: 1px solid #08090a;
    --terra-section-header-border-left: none;
    --terra-section-header-border-right: none;
    --terra-section-header-border-top: none;
    --terra-section-header-box-shadow: none;
    --terra-section-header-color: #b2b5b6;
    --terra-section-header-padding-bottom: 0.5rem;
    --terra-section-header-padding-top: 0.5rem;
    --terra-section-header-font-size: 1rem;
    --terra-section-header-font-weight: bold;
    --terra-section-header-line-height: 1.142857143;
    --terra-section-header-text-transform: none;
    --terra-section-header-accordion-padding-start: 0.5rem;

    --terra-section-header-active-background: #000;
    --terra-section-header-active-border-bottom: 1px solid #08090a;
    --terra-section-header-active-border-left: none;
    --terra-section-header-active-border-right: none;
    --terra-section-header-active-border-top: none;
    --terra-section-header-active-box-shadow: none;
    --terra-section-header-active-color: #b2b5b6;

    --terra-section-header-focus-background: #08090a;
    --terra-section-header-focus-border-bottom: 1px solid #08090a;
    --terra-section-header-focus-border-left: none;
    --terra-section-header-focus-border-right: none;
    --terra-section-header-focus-border-top: none;
    --terra-section-header-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-section-header-focus-color: #b2b5b6;

    --terra-section-header-hover-background: #08090a;
    --terra-section-header-hover-border-bottom: 1px solid #08090a;
    --terra-section-header-hover-border-left: none;
    --terra-section-header-hover-border-right: none;
    --terra-section-header-hover-border-top: none;
    --terra-section-header-hover-box-shadow: none;
    --terra-section-header-hover-color: #b2b5b6;

    --terra-section-header-transparent-active-background: #191d20;
    --terra-section-header-transparent-active-border-bottom: 1px solid #08090a;
    --terra-section-header-transparent-active-border-left: none;
    --terra-section-header-transparent-active-border-right: none;
    --terra-section-header-transparent-active-border-top: none;
    --terra-section-header-transparent-active-box-shadow: none;
    --terra-section-header-transparent-active-color: #b2b5b6;

    --terra-section-header-transparent-focus-background: #222a2e;
    --terra-section-header-transparent-focus-border-bottom: 1px solid #08090a;
    --terra-section-header-transparent-focus-border-left: none;
    --terra-section-header-transparent-focus-border-right: none;
    --terra-section-header-transparent-focus-border-top: none;
    --terra-section-header-transparent-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-section-header-transparent-focus-color: #b2b5b6;

    --terra-section-header-transparent-hover-background: #1e272b;
    --terra-section-header-transparent-hover-border-bottom: 1px solid #08090a;
    --terra-section-header-transparent-hover-border-left: none;
    --terra-section-header-transparent-hover-border-right: none;
    --terra-section-header-transparent-hover-border-top: none;
    --terra-section-header-transparent-hover-box-shadow: none;
    --terra-section-header-transparent-hover-color: #9b9b9b;

    --terra-section-header-accordion-icon-margin-start: none;
    --terra-section-header-accordion-icon-margin-end: 0.357139857rem;
    --terra-section-header-accordion-icon-padding-start: none;
    --terra-section-header-accordion-icon-padding-end: none;
    --terra-section-header-accordion-icon-padding-bottom: none;
    --terra-section-header-accordion-icon-padding-top: 0.214289914rem;
    --terra-section-header-accordion-icon-height: 0.8571418571rem;
    --terra-section-header-accordion-icon-width: 0.8571418571rem;

    // accordion icon
    @include terra-inline-svg-var('--terra-section-header-accordion-icon-background','<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><title>0023_caretRight_a</title><path id="caretRight" fill="#b2b5b6" d="M12,0l24,24L12,48V0z"/></svg>');
  }
}
