$selector: '.cerner-mock-theme';
@import '../../../../../core/mixins/src/Mixins';

@include themeStyles {
  --terra-base-font-size: 20px;
  --terra-base-background-color: #f00;
  --terra-base-color: #0f0;
  --terra-theme-provider-mock-background-color: #f00;
  --terra-theme-provider-mock-color: #00f;
  --terra-theme-provider-mock-display: inline-block;
}
