:local {
  .dragTreeTable {
    // position: relative;
    /*     margin: 20px 0; */
    /*     color: #606266; */
    /*     font-size: 12px; */
    &.border {
      // border: 1px solid #eee;
      // border-right: none;
    }
  }

  .dragTreeTableHeader {
    display: flex;
    // padding: 15px 10px;
    /*     background: #f5f7fa; */
    /*     height: 66px; */
    /*     line-height: 36px; */
    /*     box-sizing: border-box; */
    color: darkred;
    font-weight: 600;

    .alignLeft {
      text-align: left;
    }

    .alignRight {
      text-align: right;
    }

    .alignCenter {
      text-align: center;
    }

    .treeColumn {
      user-select: none;
    }
  }

  .isDragging .treeRow:hover {
    background: transparent !important;
  }


  /*column*/
  .treeColumn {
    position: relative;
    // padding: 12px 12px;
    // min-width: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;

    &.border {
      border-right: 1px solid #eee;
    }

    //my added
    // white-space: nowrap;
    // border: 1px solid rgb(191, 191, 191);
  }

  .resizeLine {
    position: absolute;
    top: 0;
    right: -3px;
    width: 6px;
    height: 100%;
    cursor: col-resize;
  }

  /*row*/
  //.treeBlock {
  //  width: 100%;
  //  background: rgba(255, 255, 255, 0.8)
  //}

  .treeRow {
    background-color: rgba(64, 158, 255, 0);
    transition: background-color 0.5s linear;

    position: relative;
    display: flex;
    //   padding: 10px 10px;
    border-bottom: 1px solid #eee;
    // line-height: 32px;
    &:hover {
      background: #ecf5ff
    }

    &.highlightRow {
      background: #ffe88c;
    }

    .alignLeft {
      text-align: left;
    }

    .alignRight {
      text-align: right;
    }

    .alignCenter {
      text-align: center;
    }
  }

  .hoverModel {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
  }

  .hoverBlock {
    width: 100%;
    display: flex;
    opacity: 0.5;
    transition: opacity 0.5s;
    justify-content: center;
    align-items: center;

    i {
      color: #FFF;
    }
  }

  .prevBlock {
    height: 25%;
    background: #a0c8f7;
    align-self: flex-start;
  }

  .centerBlock {
    height: 50%;
    background: #a0c8f7;
    align-self: center;
  }

  .nextBlock {
    height: 25%;
    background: #a0c8f7;
    align-self: flex-end;
  }

  //.action-item{
  //  color: #409eff;
  //  cursor: pointer;
  //  i{
  //    font-style: normal;
  //  }
  //}
  .zipIcon {
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAf0lEQVQ4T7XT0Q2AMAhF0dvNdALdSEdzBB3BDXQD85LGRNMCauS7nAKBxMdIhfwemIAtYpeAEeiANoLUgAGYI4gFqAMX8QAXiQBCNFDNRBVdIgpUkSfADjT3KqLACmg/XrWw5J+Li+VVYCZrMBbgJluA+tXA3Hv45ZgiR3i+OQBeSyYRPEyeUAAAAABJRU5ErkJggg==') no-repeat center;
    background-size: cover;
  }

  .arrowTransparent {
    visibility: hidden;
  }

  .arrowRight {

  }

  .arrowBottom {
    transform: rotate(90deg)
  }

  [draggable=true] {
    -khtml-user-drag: element;
  }

  /*space*/
  .space {
    display: inline-block;
    width: 15px;
  }

  .w60 {
    width: 60px;
  }

  .search {
    width: 100%;
    line-height: 1.6em;
    border: none;

    // background: aliceblue;
  }

  .checkbox {
    margin: 0 2px;
    vertical-align: middle;
    cursor: pointer;
  }


  .pressed {
    background-color: lightgrey;
  }



  .ContextMenu,
  .ContextMenuInput {
    position: fixed;
    display: none;
    width: 150px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    background: #fff;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #888;
  }

  .ContextMenuItem {
    height: 20px;
  }

  .ContextMenuItem:hover,
  .ContextMenuItem:focus {
    background-color: #6cb5ff;
    cursor: pointer;
  }


}
