@import '../../../mixins/src/Mixins';

:local {
  .header-cell {
    border-right: var(--terra-table-header-checkmark-cell-border-right, 1px solid #ccc);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
    position: relative;

    &:last-of-type,
    &.hide-cell {
      border-right: 0;
    }
  }

  .label {
    font-size: 0.5rem;
    line-height: 0;
    text-overflow: ellipsis;
  }

  .checkmark {
    background-repeat: no-repeat;
    background-size: contain;
    border: var(--terra-table-header-checkmark-cell-border, 1px solid transparent);
    border-radius: var(--terra-table-header-checkmark-cell-border-radius, 3px);
    height: var(--terra-table-header-checkmark-cell-height, 1rem);
    padding: var(--terra-table-header-checkmark-cell-padding, 1px);
    width: var(--terra-table-header-checkmark-cell-width, 1rem);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  // Interaction Classes
  // -------------
  .is-interactable {
    cursor: pointer;
  }

  .is-interactable .checkmark {
    background-color: var(--terra-table-header-checkmark-cell-interactable-background-color, #fff);
    border: var(--terra-table-header-checkmark-cell-interactable-border, 1px solid #9b9c9d);
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
    .is-interactable:hover .checkmark {
      border: var(--terra-table-header-checkmark-cell-interactable-hover-border, 1px solid #2a4b77);
    }
  }

  .is-interactable:active .checkmark {
    background-color: var(--terra-table-header-checkmark-cell-interactable-active-background-color, #b5d4fe);
    border: var(--terra-table-header-checkmark-cell-interactable-active-border, 1px solid #3a67a4);
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
    .is-interactable:hover .is-selected {
      background-color: var(--terra-table-header-checkmark-cell-interactable-hover-selected-background-color, #2a4b77);
    }
  }

  .is-interactable:active .is-selected {
    background-color: var(--terra-table-header-checkmark-cell-interactable-active-selected-background-color, #1a2f4b);
  }

  .is-interactable[data-cell-show-focus='true'].is-focused {
    outline: var(--terra-table-header-checkmark-cell-interactable-focus-outline, 2px dashed #000);
    outline-offset: var(--terra-table-header-checkmark-cell-interactable-focus-outline-offset, -2px);
  }

  // State Classes
  // -------------
  .checkmark.is-selected {
    background-color: var(--terra-table-header-checkmark-cell-selected-background-color, #3a67a4);
    background-image: var(--terra-table-header-checkmark-cell-selected-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><polygon fill="#fff" points="11.125 2.818 12.711 4.385 5.833 11.182 1.289 6.691 2.875 5.124 5.833 8.047 11.125 2.818"/></svg>'));
    border: var(--terra-table-header-checkmark-cell-selected-border, 1px solid #3a67a4);
  }

  .is-selected.is-intermediate {
    background-image: var(--terra-table-header-checkmark-cell-intermediate-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><rect fill="#fff" x="3" y="6" width="8" height="2"/></svg>'));
  }

  .is-disabled {
    background-color: var(--terra-table-header-checkmark-cell-disabled-background-color, rgba(111, 116, 119, 0.07));
    border: var(--terra-table-header-checkmark-cell-disabled-border, 1px solid rgba(134, 138, 140, 0.35));
  }

  .is-disabled.is-selected {
    background-color: var(--terra-table-header-checkmark-cell-disabled-selected-background-color, rgba(134, 138, 140, 0.35));
    background-image: var(--terra-table-header-checkmark-cell-disabled-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><polygon fill="rgba(255, 255, 255, 0.5)" points="11.125 2.818 12.711 4.385 5.833 11.182 1.289 6.691 2.875 5.124 5.833 8.047 11.125 2.818"/></svg>'));
  }

  .is-disabled.is-selected.is-intermediate {
    background-color: var(--terra-table-header-checkmark-cell-disabled-intermediate-background-color, rgba(134, 138, 140, 0.35));
    background-image: var(--terra-table-header-checkmark-cell-disabled-intermediate-background-image, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><rect fill="rgba(255, 255, 255, 0.8)" x="3" y="6" width="8" height="2"/></svg>'));
  }

  // Padding Classes
  // -------------
  .container {
    padding-left: var(--terra-table-header-checkmark-cell-default-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-header-checkmark-cell-default-padding-right, 0.7142857143rem);
  }

  [data-table-padding='standard'] .container {
    padding-bottom: var(--terra-table-header-checkmark-cell-standard-padding-bottom, 0.5rem);
  }

  [data-table-padding='compact'] .container {
    padding-bottom: var(--terra-table-header-checkmark-cell-compact-padding-bottom, 0.35715rem);
  }

  .checkmark.is-hidden {
    background-color: transparent;
    background-image: none;
    border: 0;
    left: 50%;
    margin: -1px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 1px;
  }

  .checkmark:focus {
    outline: none;
  }

  // -----------------------
  // Delete entry after IE support is dropped. IE doesn't support outline-offset, so this mimics it.
  // -----------------------
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .is-interactable[data-cell-show-focus='true'].is-focused {
      outline: none;

      &::before {
        border: var(--terra-table-header-checkmark-cell-ie-focus-before-border, 2px dashed #000);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
