@import '../../../mixins/src/Mixins';

// Section Header
// ========================================================
:local {
  .section-header {
    background-color: var(--terra-table-section-header-background-color, #e8e9ea);
    border-top: var(--terra-table-section-header-border-top, 1px solid #b2b5b6);
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 1;

    &:first-of-type {
      margin-top: var(--terra-table-section-header-first-margin-top, -1px);
    }

    + div {
      border-top: var(--terra-table-section-header-next-border-top, 1px solid #b2b5b6) !important;
    }
  }

  .section-content {
    padding-bottom: var(--terra-table-section-header-content-padding-bottom, 0.5rem);
    padding-left: var(--terra-table-section-header-content-padding-left, 0.7142857143rem);
    padding-right: var(--terra-table-section-header-content-padding-right, 0.7142857143rem);
    padding-top: var(--terra-table-section-header-content-padding-top, 0.5rem);
  }

  .title {
    color: var(--terra-table-section-header-title-color, #1c1f21);
    font-size: var(--terra-table-section-header-title-font-size, 1rem);
    font-weight: var(--terra-table-section-header-title-font-weight, bold);
    line-height: var(--terra-table-section-header-title-line-height, 1.1428571429);
    margin: 0;
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    overflow-wrap: break-word; /* Modern browsers */
    padding: 0;
    width: 100%;
    word-wrap: break-word; /* For IE 10 and IE 11 */
  }

  .is-collapsible {
    cursor: pointer;
    outline: none;

    .section-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-left: var(--terra-table-section-header-collapsible-padding-left, 1rem);
    }

    .section-content[data-row-show-focus='true']:focus {
      background-color: var(--terra-table-section-header-focus-background-color, transparent);
      outline: var(--terra-table-section-header-focus-outline, 2px dashed #000);
      outline-offset: var(--terra-table-section-header-focus-outline-offset, -2px);
      position: relative;
      z-index: 1;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--terra-table-section-header-hover-background-color, #e8e9ea);
        background-image: var(--terra-table-section-header-hover-background-image, linear-gradient(to bottom, #bcbfc0 2%, #d0d1d2 30%, #d8dada 80%));
        box-shadow: var(--terra-table-section-header-hover-box-shadow, inset 0 0 0 1px #e8e9ea);
      }
    }

    &:active {
      background-color: var(--terra-table-section-header-active-background-color, #d0d1d2);
      box-shadow: var(--terra-table-section-header-active-box-shadow, inset 0 0 0 1px #e8e9ea); 
    }
  }

  .fill {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
  }

  .start {
    flex: 0 0 auto;
    padding-right: var(--terra-table-section-header-start-padding-right, 0.7142857143rem);
  }

  .accordion-icon {
    background: var(--terra-table-section-header-accordion-icon-background, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path id="caretRight" d="M12,0l24,24L12,48V0z"/></svg>'));
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 0.7142857143rem;
    transform: rotate(0deg);
    width: 0.7142857143rem;

    // flips the icon about its vertical axis, presenting it in its mirrored-image form
    [dir=rtl] & {
      transform: scaleX(-1);
    }

    // tells the rtl postcss plugin to not transform this by default
    [dir] &.is-open {
      transform: rotate(90deg);
    }
  }

  // -----------------------
  // Delete entry after IE support is dropped. IE doesn't support outline-offset, so this mimics it.
  // -----------------------
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .is-collapsible {
      .section-content[data-row-show-focus='true']:focus {
        outline: none;

        // stylelint-disable-next-line max-nesting-depth
        &::before {
          border: var(--terra-table-section-header-ie-focus-before-border, 2px dashed #000);
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 2;
        }
      }
    }
  }
}
