@import '../../../mixins/src/Mixins';

:local {
  .orion-fusion-theme {
    --terra-dropdown-button-split-type-primary-padding-bottom: 0.25rem;
    --terra-dropdown-button-split-type-primary-padding-left: 0.83333333rem;
    --terra-dropdown-button-split-type-primary-padding-right: 0.83333333rem;
    --terra-dropdown-button-split-type-primary-padding-top: 0.25rem;
    --terra-dropdown-button-split-type-compact-padding-bottom: 0;
    --terra-dropdown-button-split-type-compact-padding-top: 0;
    --terra-dropdown-button-split-type-caret-padding-bottom: 0.25rem;
    --terra-dropdown-button-split-type-caret-padding-left: 0.5rem;
    --terra-dropdown-button-split-type-caret-padding-right: 0.5rem;
    --terra-dropdown-button-split-type-caret-padding-top: 0.25rem;
    --terra-dropdown-button-split-type-caret-height: 1em;
    --terra-dropdown-button-split-type-caret-top: 0.2em;
    --terra-dropdown-button-split-type-caret-width: 1em;
    
    // neutral
    --terra-dropdown-button-active-background-color-neutral: #9b9fa1;
    --terra-dropdown-button-active-border-color-neutral: #6f7477;
    --terra-dropdown-button-active-color-neutral: #000;
    --terra-dropdown-button-background-color-neutral: #dedfe0;
    --terra-dropdown-button-border-color-neutral: #6f7477;
    --terra-dropdown-button-color-neutral: #000;
    --terra-dropdown-button-disabled-color-neutral: #1c1f21;
    --terra-dropdown-button-focus-background-color-neutral: #dedfe0;
    --terra-dropdown-button-focus-border-color-neutral: #6f7477;
    --terra-dropdown-button-hover-background-color-neutral: #b9bbbc;
    --terra-dropdown-button-hover-color-neutral: #000;

    --terra-dropdown-button-split-type-active-font-weight-neutral: 400;
    --terra-dropdown-button-split-type-caret-active-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;
    --terra-dropdown-button-split-type-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;
    --terra-dropdown-button-split-type-font-weight-neutral: 400;
    --terra-dropdown-button-split-type-caret-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;
    --terra-dropdown-button-split-type-focus-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(128, 191, 253, 1), 0 0 6px 3px rgba(128, 191, 253, 1);
    --terra-dropdown-button-split-type-caret-focus-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(128, 191, 253, 1), 0 0 6px 3px rgba(128, 191, 253, 1);
    --terra-dropdown-button-split-type-caret-hover-box-shadow-neutral: inset 0 3rem 1.5rem -2rem #f4f4f4;

    // ghost
    --terra-dropdown-button-active-background-color-ghost: rgba(0, 0, 0, 0.2);
    --terra-dropdown-button-active-border-color-ghost: #6f7477;
    --terra-dropdown-button-active-color-ghost: #000;
    --terra-dropdown-button-background-color-ghost: transparent;
    --terra-dropdown-button-border-color-ghost: #6f7477;
    --terra-dropdown-button-color-ghost: #000;
    --terra-dropdown-button-disabled-color-ghost: #000;
    --terra-dropdown-button-focus-background-color-ghost: transparent;
    --terra-dropdown-button-focus-border-color-ghost: #6f7477;
    --terra-dropdown-button-hover-background-color-ghost: rgba(0, 0, 0, 0.1);
    --terra-dropdown-button-hover-color-ghost: #000;

    --terra-dropdown-button-split-type-active-font-weight-ghost: 400;
    --terra-dropdown-button-split-type-caret-active-box-shadow-ghost: 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
    --terra-dropdown-button-split-type-box-shadow-ghost: none;
    --terra-dropdown-button-split-type-font-weight-ghost: 400;
    --terra-dropdown-button-split-type-caret-box-shadow-ghost: none;
    --terra-dropdown-button-split-type-focus-box-shadow-ghost: 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
    --terra-dropdown-button-split-type-caret-focus-box-shadow-ghost: 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
    --terra-dropdown-button-split-type-caret-hover-box-shadow-ghost: none;

    /* Icons */
    @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-neutral', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-neutral','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-neutral','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-emphasis','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-active-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
    @include terra-inline-svg-var('--terra-dropdown-button-caret-disabled-background-image-ghost','<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path fill="currentColor" d="M24,37.7,0,14.2l3.8-3.9L24,30,44.2,10.3,48,14.2Z"/></svg>');
  }
}
