@import '../../mixins/src/Mixins';

@import './variables';
@import './mixins';

@import './clinical-lowlight-theme/DropdownButton.module';
@import './orion-fusion-theme/DropdownButton.module';

:local {
  .dropdown-button {
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto; // Needed for IE 10 to linebreak things properly
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;/* Reset margin for Safari. Safari defaults to 2px. */
    outline: 0;
    padding-bottom: var(--terra-dropdown-button-dropdown-type-padding-bottom, 0.28571rem);
    padding-left: var(--terra-dropdown-button-dropdown-type-padding-left, 0.71428rem);
    padding-right: var(--terra-dropdown-button-dropdown-type-padding-right, 0.5rem);
    padding-top: var(--terra-dropdown-button-dropdown-type-padding-top, 0.28571rem);

    &.is-block {
      display: flex;
    }
    
    &.is-compact {
      padding-bottom: var(--terra-dropdown-button-dropdown-type-compact-padding-bottom, 0);
      padding-top: var(--terra-dropdown-button-dropdown-type-compact-padding-top, 0);
    }

    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
    }
  }

  .dropdown-button-text {
    display: inline-block;
    flex: 0 1 auto; // Needed for IE 10 to linebreak things properly
    margin-right: var(--terra-dropdown-button-dropdown-type-text-margin-right, 0.35714rem);
  }

  .is-block > .dropdown-button-text {
    flex-grow: 1;
  }

  .neutral {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-neutral-color-scheme);
  }

  .emphasis {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-emphasis-color-scheme);
  }

  .ghost {
    @include terra-dropdown-button-variant-color($terra-dropdown-button-ghost-color-scheme);
  }

  .caret-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    flex: 0 0 auto; // If flex-shrink is set to 1 IE will give the button 0 width
    height: var(--terra-dropdown-button-dropdown-type-caret-height, 0.715em);
    margin: auto 0;
    position: relative;
    top: var(--terra-dropdown-button-dropdown-type-caret-top, 0.04em);
    width: var(--terra-dropdown-button-dropdown-type-caret-width, 1em);
  }
}
