:local {

  /* Button used to open the form - fixed at the bottom of the page */
  .openButton {


    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;

    z-index: 8;
    svg * {
      stroke-width: 3px;
    }
    &:hover{
      svg * {
        stroke: green;
      }
    }
  }

  /* The popup - hidden by default */
  .popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  /* Add styles to the form container */
  .container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
  }

  .rowContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }

  /* Full-width textarea */
  .container textarea {
    width: 100%;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
  }

  /* When the textarea gets focus, do something */
  .container textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/send button */
  .container .btn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  /* Add a red background color to the cancel button */
  .container .cancel {
    background-color: #ff0000;
  }

  /* Add some hover effects to buttons */
  .container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
}
