:local{
  @media screen and (prefers-reduced-motion: reduce) {
    .skeleton {
      display: inline-block;
      width: 100%;
      background-color: var(--baseColor);
      background-image:
        linear-gradient(90deg,
          var(--baseColor),
          var(--highlightColor),
          var(--baseColor));
      background-repeat: no-repeat;
      background-size: 200px 100%;
      animation: none;
    }
  }

  .skeleton {
    display: inline-block;
    width: 100%;
    background-color: var(--baseColor);
    background-image:
      linear-gradient(90deg,
        var(--baseColor),
        var(--highlightColor),
        var(--baseColor));
    background-repeat: no-repeat;
    background-size: 200px 100%;
    animation: loading-animation var(--animationLength) ease-in-out infinite;
  }

  @keyframes loading-animation {
    0% {
      background-position: -200px 0;
    }

    100% {
      background-position: calc(200px + 100%) 0;
    }
  }

}
